body {
  background-color: black; }

.logo {
  width: 60%; }

.header__nav ul {
  gap: 20px;
  list-style: none; }
  .header__nav ul .header__ul li a {
    color: white;
    font-family: dm sans regular;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold; }
    .header__nav ul .header__ul li a:hover {
      color: #83cfbc; }

/*Productos*/
.mainProd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  color: white; }
  .mainProd .card {
    width: 275px;
    height: 375px;
    border-radius: 10px;
    position: relative;
    overflow: hidden; }
    .mainProd .card .card-image {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .75s; }
      .mainProd .card .card-image:hover {
        transform: scale(1.15); }
        .mainProd .card .card-image:hover .card-title {
          position: absolute;
          left: 15px;
          bottom: 15px;
          font-size: 20px; }

/*Destacados*/
.mainDest {
  align-items: center; }

.imgDest {
  width: 100%; }

/*Card_Shop*/
.card-text {
  color: black;
  font-family: dm sans regular;
  font-size: 14px; }
  .card-text .card-tit_dest {
    color: black;
    font-family: dm sans regular;
    font-size: 18px;
    font-weight: bold; }

/*Registrate*/
.formRegistrate {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  font-family: dm sans;
  height: 100px;
  width: 200px;
  gap: 90px;
  margin-top: 30%;
  margin-left: 55%; }
  .formRegistrate .imgRegistrate {
    width: 300px; }
    .formRegistrate .imgRegistrate .contRegis {
      background-color: white;
      margin: 4px;
      border: none;
      border-radius: 2px;
      width: 180px;
      height: 25px; }

.navbar-toggler-icon {
  background-color: white; }

/*Footer*/
footer {
  display: flex;
  height: 10%; }

footer img {
  width: 3%; }
